<div class="container">
	<table>
  		<h1>Welcome to plan preview!</h1>
  			<ul><% @project.each do |prj|%>
            <% if prj.classification == 'Projects Bidding' %>
              <li><%= prj.owner%><br>
  				    <li><%= prj.classification%><br>
              <li><%= prj.url%><br></li>
              <%end%> 
    		</ul>
    			
          <%end%> 
<!-- 			<ul><% @agency.each do |agency|%>
  				<li><%= agency.name%><br>
  				<%= agency.url%><br><br>
    			</li>
    		</ul>
    			<%end%> -->
  	</table>
</div>
