<div class="container">
	<table>
  		<h1>Welcome to plan preview!</h1>
  			<ul><% @project.each do |prj|%>
            <li><%= prj.owner%><br>
  				  <li><%= prj.classification%><br>
            <li><%= prj.url%><br></li>
    		</ul>
    			<%end%> 
<!-- 			<ul><% @agency.each do |agency|%>
  				<li><%= agency.name%><br>
  				<%= agency.url%><br><br>
    			</li>
    		</ul>
    			<%end%> -->
  	</table>
</div>
